.login {
    text-align: center;
    padding: 5px;
}

.registerDiv {
    display: none;
}

.dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
}

table, th, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
  }
